services:
  caddy:
    build:
        context: .
        dockerfile: Dev.Dockerfile
    restart: unless-stopped
    command: ["sh", "/srv/start.sh"]
    ports:
      - "31337:80"
    volumes:
      - ./:/srv
      - caddy_data:/data
      - caddy_config:/config

volumes:
  caddy_data:
  caddy_config:
