/**
 * Standalone CLI should be used
 */
@import "tailwindcss" source("..");

@source inline("order-{1..32}");
@source inline("@{md,lg,xl}:grid-cols-{1..16}");
@source inline("@{md,lg,xl}:col-span-{1..16}");

@theme {
    /**
     * Reset
     */
    --breakpoint-3xs: 360px;
    --breakpoint-2xs: 400px;
    --breakpoint-xs: 480px;
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
    --breakpoint-2xl: 1536px;
    --breakpoint-3xl: 2880px;

    --container-3xs: 360px;
    --container-2xs: 400px;
    --container-xs: 480px;
    --container-sm: 640px;
    --container-md: 768px;
    --container-lg: 1024px;
    --container-xl: 1280px;
    --container-2xl: 1536px;
    --container-3xl: 2880px;

    --text-9xl: 3.50rem;
    --text-8xl: 3.25rem;
    --text-6xl: 3.00rem;
    --text-7xl: 2.75rem;
    --text-6xl: 2.50rem;
    --text-5xl: 2.25rem;
    --text-4xl: 2.00rem;
    --text-3xl: 1.75rem;
    --text-2xl: 1.50rem;
    --text-1xl: var(--text-xl);
    --text-lg: 1.125rem;
    --text-base: 1.00rem;
    --text-sm: .875rem;
    --text-1xs: var(--text-xs);
    --text-2xs: 0.50rem;
    --text-3xs: 0.25rem;

    /**
     * Custom
     */

    --font-serif: "Newsreader", serif;
    --font-sans: "Inter", sans-serif;
    --font-mono: "Source Code Pro", monospace;

    --color-blush: rgb(255, 166, 115);
    --color-olive: rgb(198, 222, 65);
    --color-coral: rgb(255, 142, 161);
    --color-water: rgb(45, 110, 126);
    --color-storm: oklch(0.3423 0.0391 229.99);
    --color-night: oklch(0.1985 0.0144 229.99);

    --color-fore: var(--color-zinc-300);
    --color-main: var(--color-night);

    --tw-leading: 2em;
}

@custom-variant lg {
    @media print, screen and (width >= theme(--breakpoint-lg)) {
        @slot;
    }
}

@custom-variant xl {
    @media print, screen and (width >= theme(--breakpoint-xl)) {
        @slot;
    }
}


@layer base {
  :root {
        font-size: clamp(16px, 1.125dvw, 20px);
        --spacing: clamp(0.250rem, .375rem, 0.500rem);
    }

    html {
        @apply print:bg-white print:text-main bg-main text-fore leading-loose font-sans @container not-print:h-full;
    }

    h1, h2, h3, h4, h5, h6 {
        @apply font-serif leading-tight;
    }

    h1 {
        @apply text-8xl italic text-center;
    }

    h2 {
        @apply text-4xl @xl:text-7xl;
    }

    h3 {
        @apply text-3xl @xl:text-6xl;
    }

    h4 {
        @apply text-2xl @xl:text-5xl;
    }

    h5 {
        @apply text-xl @xl:text-4xl;
    }

    h6 {
        @apply text-lg @xl:text-3xl;
    }

    hgroup {
        @apply mb-4 text-center;
    }

    :not(hgroup) {
        & > h1:not(:last-child),
        & > h2:not(:last-child),
        & > h3:not(:last-child),
        & > h4:not(:last-child),
        & > h5:not(:last-child),
        & > h6:not(:last-child) {
            @apply mb-4;
        }
    }

    a[href]:not([class]),
    a[href].default {
        @apply underline text-olive/80;
    }

    p:not(:last-child) {
        @apply mb-4;
    }

    em {
        @apply text-blush;
    }

    img, svg {
        @apply w-full h-auto;
    }

    code {
        @apply inline-block rounded-lg overflow-hidden border-water bg-black/20! border border-dashed text-sm align-middle py-0.5! px-[1ch]! text-olive mx-auto font-mono;
    }

    pre > code {
        @apply w-full @xl:w-auto rounded-lg overflow-hidden border-water bg-black/20! border border-dashed text-sm whitespace-pre p-4!;
    }

    nav {
        a {
            @apply no-underline!;
        }
    }

    ul:not([class]),
    ul.default {
        @apply list-disc list-outside not-only:mt-2 not-last:mb-2 ml-[1.5ch] italic text-fore/80;
    }

    .contain {
        @apply px-4 @lg:px-24 @2xl:px-[calc((100%-var(--container-xl))/2)] print:px-0! print:left-0!;
    }
}


@utility shape-* {
  float: var(--tw-shape-reverse, left);
  shape-outside: --value([*]);
}

@utility shape-circle-* {
  float: var(--tw-shape-reverse, left);
  shape-outside: circle(--spacing(--value(integer)));
  shape-outside: circle(calc(100% * --value(ratio)));
  shape-outside: circle(--value(--spacing-*, --shape-circle-*, [length], [percentage]));
}

@utility shape-reverse {
  --tw-shape-reverse: right;
}

@utility shape-margin-* {
  shape-margin: --spacing(--value(integer));
  shape-margin: --value(--spacing-*, --margin-*, [length], [percentage]);
}


@utility text-justify-* {
    text-justify: --value([*])
}
